node_modules
**/node_modules
dist
**/dist
.env
.env.local
.git
.gitignore
playwright-report
**/playwright-report
storybook-static
**/storybook-static
test-results
**/test-results
coverage
**/coverage
*.log
.DS_Store
